pyobjc-core>=10.3; sys_platform == "darwin"
pyobjc-framework-Cocoa>=10.3; sys_platform == "darwin"
pyobjc-framework-Quartz>=10.3; sys_platform == "darwin"
pyobjc-framework-Vision>=10.3; sys_platform == "darwin"
pyobjc-framework-ApplicationServices>=10.3; sys_platform == "darwin"
pywebview>=5.3
pyinstaller>=6.10
llama-cpp-python[server]>=0.3.2
certifi
pyobjc-framework-SafariServices>=10.3; sys_platform == "darwin"
pyobjc-framework-UserNotifications>=10.3; sys_platform == "darwin"
pystray; sys_platform == "win32"
Pillow; sys_platform == "win32"
